BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "opLEDs[0]" SITE "46" ;
LOCATE COMP "opLEDs[1]" SITE "45" ;
LOCATE COMP "opLEDs[2]" SITE "44" ;
LOCATE COMP "opLEDs[3]" SITE "43" ;
LOCATE COMP "opLEDs[4]" SITE "40" ;
LOCATE COMP "opLEDs[5]" SITE "39" ;
LOCATE COMP "opLEDs[6]" SITE "38" ;
LOCATE COMP "opLEDs[7]" SITE "37" ;
LOCATE COMP "ipReset" SITE "19" ;
LOCATE COMP "ipButtons[0]" SITE "52" ;
LOCATE COMP "ipButtons[1]" SITE "50" ;
LOCATE COMP "ipButtons[2]" SITE "53" ;
LOCATE COMP "ipButtons[3]" SITE "54" ;
IOBUF PORT "ipClk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ipButtons[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ipButtons[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ipButtons[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ipButtons[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ipReset" IO_TYPE=LVCMOS33 ;
IOBUF PORT "opLEDs[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "opLEDs[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "opLEDs[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "opLEDs[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "opLEDs[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "opLEDs[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "opLEDs[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "opLEDs[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "opTx" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ipRx" IO_TYPE=LVCMOS33 ;
LOCATE COMP "opTx" SITE "109" ;
LOCATE COMP "ipRx" SITE "110" ;
LOCATE COMP "ipClk" SITE "21" ;
